* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: ‘Rubik Mono One’, sans-serif;
}

.number {
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 10;
}

span{
    background-color: honeydew;
    border-radius: 100%;
    padding: 10px 15px;
    margin-right: 20px;
}

section {
    height: 100vh;
    width: 100vw;
    position: relative;
    
} 

.scarpe-desc {
    font-size: 20px;
    color: rgb(211, 197, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
     width: 500px;
}

h1 {
    width: 450px;
    text-align: center;
}

#rosso {
    background-color: brown;
}

#verde {
    background-color: forestgreen;
}

#giallo {
    background-color: goldenrod;
}

#titolo-verde {
    color: green;
}
